{% extends 'layout.html' %}
{% block body %}
<form action="/login_user" method="POST">
		<div class="jumbotron text-center">
			<div class="row text-center  container" style="background-color: rgba(190,190,100,0.2);color: #ff8899;">

			<h1 class="text-center" style="background-color: rgba(90,90,100,0.5);color: #ff8899;margin-left: 330px;margin-top: 20px;"> Login for user</h1>
					<div class="col-lg-12 text-center">
					</div>
						<div class="row">
							<div class="col-lg-12 form-group">
							<label for="un">Username</label>
						 	<input type="text" name="un" id="un" required>
						    </div>
						 <div class="col-lg-12 form-group">
					    	<label for="pwd">Password</label>
						 	<input type="password" name="pwd" id="pwd" required>
						</div>	
						<div class="col-lg-12 form-group ">
					    	<button class="btn btn-success" type="submit">Login</button>
					    	<button class="btn btn-danger" type="Reset">Reset</button>
						</div>
			</div>   	
			</div>
	</form>
{% endblock%}