{% extends 'layout.html' %}
{% block body %}
 <div class="jumbotron">
 	<div class="row"> 		
 			<div class="row">
 				<h3 style="background: rgba(30,30,200,0.3); font-family: 'Gill Sans';border-radius: 5px;">Title:{{article['title']}}</h3> 	
 			</div> 		
 		<div class="col-lg-10">
 			<div class="row">
 				<h3 style="background: rgba(130,130,200,0.7); font-family: Gill Sans;border-radius: 5px;">Quote</h3> 	
 			</div>
 			<div class="row">
 				<p class="lead">
 					{{article['quote']}}
 				</p>
 			</div>
 		</div>
 	</div>
 </div>
{% endblock %}